<div
  class="w-[350px] md:w-[300px] h-24 bg-white rounded-xl drop-shadow-md p-4 flex items-center justify-start space-x-4 cursor-pointer hover:scale-105 duration-150 ease-in"
>
  <img
    src="{{ ImgSrc }}"
    alt=""
    class="h-full w-[100px] object-fill rounded-lg"
  />
  <div class="h-full flex flex-col justify-center items-start space-y-2">
    <h3 class="font-semibold text-lg line-clamp-2 truncate whitespace-normal">
      {{ countryName }}
    </h3>
    <p class="text-gray">{{ continent }}</p>
  </div>
</div>
