<div class="flex flex-col space-y-2 md:w-[500px]">
  <h1 class="text-[36px] font-semibold">Create new account</h1>
  <p class="text-lg font-semibold">
    Already a member?
    <a
      (click)="onChange()"
      class="text-lg font-bold text-blue cursor-pointer hover:underline"
      >Log In</a
    >
  </p>

  <!-- form -->

  <form
    class="w-full max-w-lg pt-14"
    (ngSubmit)="onSubmit()"
    [formGroup]="signUpForm"
  >
    <div class="flex flex-wrap -mx-3 mb-6">
      <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
        <label
          class="block uppercase tracking-wide text-gray text-xs font-bold mb-2"
          for="first-name"
        >
          First Name
        </label>
        <input
          class="input"
          id="first-name"
          type="text"
          placeholder="Doe"
          formControlName="firstName"
        />
      </div>
      <div class="w-full md:w-1/2 px-3">
        <label
          class="block uppercase tracking-wide text-gray text-xs font-bold mb-2"
          for="last-name"
        >
          Last Name
        </label>
        <input
          class="input"
          id="last-name"
          type="text"
          placeholder="Doe"
          formControlName="lastName"
        />
      </div>
    </div>
    <div class="flex flex-wrap -mx-3 mb-6">
      <div class="w-full px-3">
        <label
          class="block uppercase tracking-wide text-gray text-xs font-bold mb-2"
          for="email"
        >
          Email
        </label>
        <input
          class="input"
          id="email"
          type="text"
          placeholder="Doe@gmail.com"
          formControlName="email"
        />
      </div>
    </div>
    <div class="flex flex-wrap -mx-3 mb-6">
      <div class="w-full px-3">
        <label
          class="block uppercase tracking-wide text-gray text-xs font-bold mb-2"
          for="password"
        >
          Password
        </label>
        <input
          class="input"
          id="password"
          type="password"
          placeholder="*************"
          formControlName="password"
        />
      </div>
    </div>
    <div class="w-full flex flex-row items-center">
      <input
        id="admin"
        type="checkbox"
        value="admin"
        formControlName="isAdmin"
        class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
      />
      <label
        for="admin"
        class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300"
        >Create <span class="font-bold">Admin</span> Account</label
      >
    </div>
    <div class="flex w-full justify-end items-end">
      <button
        class="w-[180px] bg-green hover:bg-green/[0.7] text-white font-semibold tracking-wide rounded-full p-[12px]"
        type="submit"
      >
        Sign Up
      </button>
    </div>
  </form>
</div>
